{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Risk Reporting Tool{% endblock %}</title>
    
    <!-- Common CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <header class="navbar">
        <div class="navbar-brand">
            <h1>Welwing Capital</h1>
        </div>

        <div class="navbar-user">
            {% if user.is_authenticated %}
                <span>Welcome, {{ user.username }}</span>
                <a href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% block extra_js %}{% endblock %}
</body>
</html>